.weekend_container {
  padding: 100px 77px 140px 76px;
}
.weekend_text {
  margin-top: 32px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  color: var(--acctent-color);
}

.weekend_image {
  margin-top: 140px;
}
